.btn{
    display: inline-block;
    border-radius: 28px;
    background-color: red;
    color: white;
    @include common-box-shadow;
    
    @include button-bg-img;

    a{
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        color: white;
    }
    &:hover{
        cursor: pointer;
        @include button-hover-effect;
    }

    &--large-width{
        padding-left:50px;
        padding-right:50px;
    }

}


