.btn{
    display: inline-block;
    border-radius: 28px;
    padding: 15px 20px;
    background-color: red;
    box-shadow: -1px 1px 5px $box-shadow-color;
    color: white;
    @include button-bg-img;
    &:hover{
        cursor: pointer;
        @include button-hover-effect;
    }

}


