.favorite-logo{
    cursor: pointer;
    position: relative;

    .favorite-logo__container {
        position: relative;
        cursor: pointer;

        &:hover{
            
            .favorite-logo__elt--full{
            @keyframes fill-up {
                to{
                    clip-path: inset(0px 0px 0px 0px);
                }
            }  
            animation: fill-up 0.5s ease forwards; 
            }
        }

        .favorite-logo__elt{
            height: $homepage-favorite-logo-height;
            width: $homepage-favorite-logo-height;

            svg{
                width: 100%;
                height: 100%;
            }
            
            &--full{
                position: absolute;
                left: 0;
                top: 0;

                clip-path: inset($homepage-favorite-logo-height 0 0 0);
                /* Clip-path permet de rogner l'image, 4 valeurs : haut, droite, bas et gauche.
                Ici on rogner le haut de l'image a la valeur de sa hauteur, afin qu'elle soit invisible de base.
                */

                svg{
                    fill: $primary-color;
                }
            }
    
            }
        
    }

}