@font-face {
    font-family: 'title-font';
    src: url("./../../public/assets/fonts/Shrikhand-Regular.ttf");
}

@font-face{
    font-family: 'regular-font';
    src: url("./../../public/assets/fonts/Roboto-Regular.ttf");
}