html{
    min-height: 100%;
    position: relative;
}

body{
    height: 100%;
}

.current-location{
    
    background-color: #EAEAEA;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    &__container{
        display: flex;
        align-items: center;
        position: relative;
        .current-location__logo{
            position: absolute;
            left: -30px;
            font-size: 20px;
        }

        .current-location__text{
            margin: 0;
        }
    }

    @include tablet-only{
        &__container{
            .current-location__logo{
                font-size: 20px;
            }
            .current-location__text{
                font-size: 16px;
            }
        }
    }

    @include desktop-only{
        &__container{
            .current-location__logo{
                font-size: 24px;
            }
            .current-location__text{
                font-size: 18px;
            }
        }
    }

}

.site-introduction{
    margin:40px 20px;
    text-align: center;

    &__title{
        margin: 20px 35px;
        font-weight: bolder;
    }

    &__text{
        font-size: 17px;
        color: grey;
        margin-bottom: 30px;
    }
}

.site-explanation{
    background-color: white;
    &__container{
        display: flex;
        flex-direction: column;
        margin: 0 map-get($common-side-margin,mobile);

        .site-explanation__title{
            margin-top: 40px;
            margin-bottom: 15px;
            font-size: 24px;
            font-weight: bolder;
        }

        .site-explanation__explanations-container{
            padding: 0;
            margin: 0;

            .site-explanation__explanations-elt{
                
                @include common-box-shadow;
                display: flex;
                background-color: $background-color;
                padding: 15px 0px;
                margin: 20px 0px;
                align-items: center;
                border-radius: 25px;
                margin-left:$homepage-left-margin-explanations-elt;

                &__num{
                    margin-left:(-$homepage-left-margin-explanations-elt);
                    /* Permet au parent du num de commence horizontallement
                    pile au milieu de &__num
                    */
                    background-color: $primary-color;

                    $homepage-explanations-elt-width-num:($homepage-left-margin-explanations-elt * 2);
                    width: $homepage-explanations-elt-width-num;
                    line-height: $homepage-explanations-elt-width-num;
                    // on veut que width==line-height pour que le num soit centre verticallement
                    border-radius: 50%;
                    text-align: center;
                    font-size: 13px;
                    color: white;
                }
            
                &__logo{
                    margin-left: 20px;
                    color: grey;
                   
                }
            
                &__text{
                    margin-left: 20px;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: bold;
                }
            
                &:hover{
                    background-color:lighten($secondary-color,20%);
                    
                    .site-explanation__explanations-elt__logo{
                        color: $primary-color;
                    }
                }
            
            }
        }
        
    }

    @include tablet-only{
        &__container{
            width: 350px;
            margin: auto;

            .site-explanation__title{
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    @include desktop-only{
        &__container{
            width: 400px;
        }
    }
}



.restaurants{
    margin:50px map-get($common-side-margin,mobile);
    &__title{
        font-size: 22px;
        font-weight: bold;
    }
    &__container{

        .restaurant-card{
            @include common-box-shadow;
            
            background-color: white;
            margin-bottom: 25px;
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
            position: relative;

            &:hover{
                @include common-box-shadow-hover;
                .restaurant-card__lower-part__text__name{
                    color: $primary-color;
                }
                transform: scale(1.02);
                //agrandit la card lorsqu'on a la souris dessu
            }


            &__container-img{
                width: 100%;
                height: 170px;
                
                img{
                    object-fit: cover;
                    width: 100%;
                    height:100%;
                }
            }
            &__lower-part{
                margin:15px 15px 0px 15px;
                padding-bottom: 15px;
                display: flex;
                align-items: center;

                
            &__anchor{
                text-decoration: none;
                color: black;
                &::after{
                    /*
                    Ce ::after est un modal qui va permettre que tout l'article soit cliquable,
                    comme celui-ci a un z-index de 1, si l'on veut qu'un element ne soit pas cliquable,
                    il suffit de lui donner un z-index > 1.
                    */
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    
                }
            }
                &__text{

                    &__name{
                        font-weight: bold;
                        font-size: 18px;
                        margin: 0;
                        margin-bottom: 5px;
                    }
                    &__location{
                        margin: 0;
                        font-size: 16px;
                    }
                }
            
                
                
                &__favorite-logo{
                    margin-left: auto;
                    margin-right: 10px;
                    z-index: 2;
           
                }
            }

            &__special-label{
                
                position: absolute;
                right: 10px;
                top: 15px;
                font-size: 14px;
                font-weight: bold;

                &--new::before{
                    @include restaurant-special-label("Nouveau",$tertiary-color,#0E9070);
                    
                }

            }

        }
        
    }

    @include tablet-only{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__container{
            .restaurant-card{
                width: 400px;
            }
        }
    }

    @include desktop-only{
        &__container{
            .restaurant-card{
                width: 500px;
            }
        }
    }
}

.modal-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
    animation: modal 2s;
    visibility: hidden;
    @keyframes modal{
        from{
            visibility: visible;
        }
        to{
            visibility: hidden;
        }
        
    }

    &__spinner{

        height: $homepage-spinner-height;
        width: $homepage-spinner-height;
        border: 10px solid white;
        border-bottom-color: $primary-color;
        border-radius: 50%;
        animation: rotation 1s linear;
        animation-iteration-count: 10;
        // Pour eviter que spinner continue de tourner a l'infini, on l'arrte apres 10 tours.
        @keyframes rotation{
            from {
                transform: rotate(0deg);
            }
            to{
                transform: rotate(360deg);
            }
        }

    }
}