
@mixin button-bg-img($lighten: false){
    //first-color-button and second-color-button 
    // can be found in _variables.scss  

    $first-color:$first-color-button;
    $second-color:$second-color-button;

    @if $lighten == true{
        $first-color:adjust-hue($first-color-button,20deg);
        //first color is lightened
    }
    background-image: linear-gradient(to left top, $first-color, $second-color);
}

@mixin common-box-shadow(){
    box-shadow: 3px 3px 10px $box-shadow-color;
}

@mixin common-box-shadow-hover(){
    box-shadow: -3px 3px 7px $box-shadow-color;
}


@mixin button-hover-effect(){
    @include button-bg-img($lighten:true);
    @include common-box-shadow-hover();
}

@mixin restaurant-special-label($content,$bg-color,$color){
    padding:8px 12px;
    content:"#{$content}";
    background-color: $bg-color;
    color:$color;
}

@mixin text-hidden-if-too-long(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}