$first-color-button:$primary-color;
$second-color-button:$secondary-color;

$breakpoints: (
    "desktop":992px,
    "tablet":768px
);

$number-of-restaurants:4;

$common-side-margin:20px;

$common-side-margin:(
    'mobile':20px,
    'tablet':40px
);


$homepage-left-margin-explanations-elt:13px;
$homepage-explanations-elt-width-num:$homepage-left-margin-explanations-elt * 2;
$homepage-favorite-logo-height:24px;
$homepage-spinner-height:64px;
$homepage-dish-check-mark-animation-length:0.5s;

$restaurants-main-image-restaurant-container-height:(
    'mobile':280px,
    'tablet':330px
);
$restaurants-dishes-margin:-5px;
$restaurants-menu-dish-check-mark-height:16px;
$restaurants-menu-dish-check-mark-padding:3px;
$restaurants-menu-dish-details-and-price-bottom-margin:10px;
$restaurants-dishes-animation-delay:0.75s;
$restaurants-number-type-of-dishes:3;

$box-shadow-color:lightgrey;
