.main-footer{
    background-color: black;
    $main-footer-color:white;
    color: $main-footer-color;
    padding: 10px 0 25px 0;

    @include tablet-only{
        padding: 0;
    }
    &__container{
        margin: 0 25px;
        @include tablet-only{
            display: flex;
        }
        
        .main-footer__logo-container{

            @include tablet-only{
                margin-right: 50px;
            }
            display: flex;
            width:100px;
            height: auto;
            object-fit: cover;
            margin: 20px 0;
            svg{
                height: 100%;
                width: 100%;
                path{
                    fIll:white;
                }
            }
        }

        .main-footer__links{
            padding: 0;
            @include tablet-only{
                display: flex;
            
            }
            .main-footer__link-container{

                display: flex;
                align-items: center;
                margin: 10px 0;
                @include tablet-only{
                    margin-right: 20px;
                }
                .main-footer__link__logo{
                margin-right: 10px;
                
                }
                
                .main-footer__link{
                    text-decoration: none;
                    &__text{
                        font-size: 16px;
                        color: $main-footer-color;
                        text-decoration: none;
    
                        &--informations{
                            color: lightgrey;
                        }
                    }
                    &:hover{
                        .main-footer__link__text{
                            color: $secondary-color;
                            
                        }
                    }
                }
            }
        }
    }
}