.main-footer{
    background-color: black;
    $main-footer-color:white;
    color: $main-footer-color;
    padding: 10px 0 25px 0;

    &__container{
        margin: 0 25px;
        .main-footer__logo-container{
            display: flex;
            width:100px;
            height: auto;
            object-fit: cover;
            margin: 20px 0;
            svg{
                height: 100%;
                width: 100%;
                path{
                    fIll:white;
                }
            }
        }

        .main-footer__links{
            padding: 0;
            margin: 0;
            .main-footer__link-container{

                display: flex;
                align-items: center;
                margin: 10px 0;

                .main-footer__link{
                    text-decoration: none;
                    display: flex;
                    text-decoration: none;
                    align-items: center;
                    &:hover{
                        .main-footer__link__logo{
                            color: $secondary-color;
                        }
                        .main-footer__link__text{
                            color: $secondary-color;
                        }
                    }

                    &__logo{
                        color: white;
                        margin-right: 5px;
                    }
                    &__text{
                        font-size: 16px;
                        color: $main-footer-color;
    
                        &--informations{
                            color: lightgrey;
                        }
                    }
                    
                }
            }
        }
    }

    @include tablet-only{
        padding: 0;
        &__container{
            display: flex;
            .main-footer__logo-container{
                margin-right: 50px;
            }
            .main-footer__links{
                display: flex;
                flex-grow: 1;
                justify-content: space-evenly;
                margin-left: 0;
                .main-footer__link-container{
                    margin-right: 20px;
                }
            }
        }
    }

}