.main-header{
    position: relative;
    &--shadow{
        box-shadow: 0px 3px 4px lightgrey;

    }
    .main-header__wrapper{
        display: flex;
        justify-content: center;
        background-color: white;
        position: relative;

        
        .main-header__back-to-homepage{
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translate(-50%,-50%);
            &:hover{
                color: $primary-color;
            }
        }

        .main-header__logo-anchor{
            display: flex;
            object-fit: cover;
            height: 28px;
            width: auto;
            margin-top: 20px;
            margin-bottom: 15px;

            .main-header__logo-anchor__logo-img{
                height: 100%;
                width: 100%;
            }
        }
    }
}
